/*.board-row:after {
	display: table;
	content: "";
	clear: both;
}*/
.game {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.board-container {
	/*margin: auto;*/
	/*margin-top: 150px;*/
	/*margin-left: auto;*/
	display: table;
}

.square {
	border: 1px solid;
	width: 70px;
	height: 70px;
	/*text-align: center;*/
	/*margin-right: -1;*/
	/*margin-top: -1;*/
	/*padding: 0;*/
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
}

.stack-image {
	width: 70px;
	height: 70px;
	/*display: inline-block;*/
	/*margin: 0;*/
	position: absolute;
}

.black-square {
	background: #779455;
}

.white-square {
	background: #ebebd0;
}

.yellow-square {
	background: #baca2c;
}

.orange-square {
	background: #c57b50;
}