.game-container {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.chess-board-container {
	display: table;
}

.square {
	border: 1px solid;
	width: 70px;
	height: 70px;
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
}

.row-indicator {
	font-size: 25px;
  	position: absolute;
	left: calc(50vw - 315px);
}

.col-indicator {
	font-size: 25px;
  	position: absolute;
	top: calc(50vh - 350px);
}

.stack-image {
	width: 70px;
	height: 70px;
	position: absolute;
}

.black-square {
	background: #779455;
}

.white-square {
	background: #ebebd0;
}

.yellow-square {
	background: #baca2c;
}

.orange-square {
	background: #c57b50;
}